{{!-- MAY NOT NEED THIS FILE BECAUSE WE AREN'T DOING THE SLEEPY STUFF --}}

<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
</li>
